/* POSTS - START */

.posts-container {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 150px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 5px #888;
  background: #fff;
  max-width: 1000px;
  min-width: 300px;
  overflow: hidden;
}

.post-media {
  position: relative;
  max-height: 60vh;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 0 5px #444;
  flex: 0 1 0;
}

.post-media:has(iframe) {
  padding-bottom: 56.25%;
  width: 100%;
}

.post-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #444;
}

.post-texts {
  width: 100%;
  flex-grow: 1;
  flex: 1 0 auto;
  line-height: 1.4;
}

.posts-content {
  font-size: 16px;
}

.post-control {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  flex: 0 0 auto;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.posts-title {
  font-size: 1.4em;
}

.post-control a {
  text-decoration: none;
}


/* POSTS - END */
/* FILTER-MENU - START */

#filters {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
  gap: 10px;
}

#filters .active {
  background: #a3d0e5;
}

.filter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.filter-menu li {
  list-style: none;
}

.filter-menu a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  gap: 5px;
}

#filter-right-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
  gap: 10px;
}

/* FILTER-MENU - END */
