.prayer {
  align-items: center;
}

/* NEW POST - START */

.new-post {
  max-width: 100%;
  padding: 40px 20px;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
}

.new-post form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-post input,
.new-post textarea {
  border: 1px solid #027db6;
  border-radius: 8px;
  padding: 5px;
}

.new-post label {
  margin-top: 10px;
}

.new-post input[type=submit] {
  margin: 40px auto 0 auto;
  background: #027db6;
  color: #fff;
  font-size: larger;
  width: 50%;
}


/* NEW POST - END */
